---
# Only the main Sass file needs front matter (the dashes are enough)
---
$tot-width: 100%;
$num-col: 12;
$gut-width: 3%;

$ind-col-width: ($tot-width - ($gut-width * ($num-col - 1))) / $num-col;

@mixin grid($bleezy){
  width: ($bleezy * $ind-col-width) + ($gut-width * ($bleezy - 1));
  float: left;
  margin-right: $gut-width;
  &:last-child {
    margin-right: 0;
  }
}

body{
	background-color: #cccccc;
}


.site-header{
	background-color: #33cc99;
	text-align: center;
}

.navigation{
	background-color: #000;
	margin: 0 auto;
	.nav_list{
		ul{
			list-style: none;
			text-align: center;
			

			li{
				display: inline-block;

				

				a{
					text-decoration: none;
					color: #ffffff;
					padding: 2em;


					
				}

			}
		}
	}
}
.our_story{
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	.our_story_text{
		width: 40%;
		float: left;
	}
	.amazing_texmex{
		width: 60%;
		float: left;
		background-image: url("http://cdn-image.foodandwine.com/sites/default/files/original-201305-HD-modern-mexican-restaurants-bandolero.jpg");
	}
}

.section_2{
	clear: both;

	.location{
		float: left;
	}

	.map{
		background-image: url("http://habanerocafe.com/images/map.gif");
		height: 10em;
		float: left;
	}
}

footer{
	background-color: #33cc99;
	clear: both;
}


//**Menu CSS Styling**//

.breakfast{
	box-sizing: border-box;
	border: 1px solid #000000;
	margin: 1em;
}

.breakfast_items1{
	margin: 0 auto;
	box-sizing: border-box;
	width: 45%;
	float: left;
	
	a{
		color: #990000;
		margin-bottom: 0;
		width: 50%;
	}
}
.breakfast_items2{
	margin: 0 auto;
	box-sizing: border-box;
	width: 50%;
	float: left;
	a{
		color: #990000;
		margin-bottom: 0;
		width: 50%;
	}
}

.breakfast_tacos{
	clear:both;
}


.section_titles{
	text-align: center;
}









